.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--eerieBlack);
    color: var(--whiteSmoke);
    height: 100vh;
}

.title {
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: 22px;
    letter-spacing: .1em;
    margin-top: 2.5em;
    margin-bottom: .3em;
    color: var(--whiteSmoke);
}

.subtitle {
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: .1em;
    margin-top: 1em;
    margin-bottom: .7em;
    color: var(--yellowGreen);
}

.form {
    display: flex;
    flex-direction: column;
    columns: 4;
    justify-content: center;
    flex-wrap: wrap;
    width: 30em;
    height: 30em;
    padding: 20px;
    border-radius: 10px;
    gap: .5em;
    margin-left: -33em;
}

.form label {
    color: var(--yellowGreen);
    font-family: "Poppins", sans-serif;
    letter-spacing: .1em;
}

.form input {
    width: 20em;
    height: 3em;
    background-color: var(--eerieBlack);
    color: var(--whiteSmoke);
    border: 1.5px solid var(--steelBlue);
    border-radius: 5px;
    padding: .5em;
}

.select {
    display: flex;
    width: 22.5em;
    height: 3.3em;
    background-color: var(--eerieBlack);
    color: var(--whiteSmoke);
    border: 1.5px solid var(--steelBlue);
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    letter-spacing: .1em;
    margin-bottom: 1.3em;
    padding: .5em;
}

.register {
    height: 5em;
    display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 3em;
   
}
.btnRegister {
    background-color: var(--yellowGreen);
    color: var(--eerieBlack);
    border-radius: 5px;
    width: 15em;
    height: 2.4em;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: .1em;
    border: none;
    cursor: pointer;
}

.btnRegister:hover {
    background-color: var(--steelBlue);
    color: var(--whiteSmoke);
}

.register p {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-left: 2em;
    color: var(--whiteSmoke);
    font-size: 15px;
    letter-spacing: .1em;
}

.link {
    text-decoration: none;
    font-weight: bolder;
    color: var(--yellowGreen);
}

.link:hover {
    color: var(--steelBlue);
}

/* Cor de fundo do autocomplete */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--eerieBlack) inset;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
    -webkit-text-fill-color: var(--whiteSmoke);
}