.containerUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--eerieBlack);
    color: var(--whiteSmoke);
    height: 100vh;
}

.title {
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: 22px;
    letter-spacing: .1em;
    margin-top: -.5em;
    margin-bottom: .3em;
    color: var(--whiteSmoke);
}

.subtitle {
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: .1em;
    margin-top: 1em;
    margin-bottom: .7em;
    color: var(--yellowGreen);
}

.formUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 30em;
    height: 29em;
    padding: 20px;
    border-radius: 10px;
    gap: .5em;
    margin-left: -35em;
}

.formUser label {
    display: flex;
    color: var(--yellowGreen);
    font-family: "Poppins", sans-serif;
    letter-spacing: .1em;
    width: 21em;
    margin-bottom: .5em;
}

.formUser input {
    width: 25em;
    height: 3.3em;
    background-color: var(--eerieBlack);
    font-family: "Poppins", sans-serif;
    color: var(--whiteSmoke);
    border: 1.5px solid var(--steelBlue);
    border-radius: 5px;
    padding: .5em;
    margin-bottom: 1.5em;
    margin-right: 1em;
}

.selectUser {
    display: flex;
    width: 25em;
    height: 3.3em;
    background-color: var(--eerieBlack);
    color: rgb(194, 194, 198);
    border: 1.5px solid var(--steelBlue);
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    letter-spacing: .1em;
    margin-bottom: 1.5em;
    padding: .5em;
}

.registerUser {
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 30.5em;
    margin-left: 15em;
}

.btnRegister {
    background-color: var(--yellowGreen);
    color: var(--eerieBlack);
    border-radius: 5px;
    width: 15em;
    height: 2.4em;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: .1em;
    border: none;
    cursor: pointer;
}

.registerUser p {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-left: 2em;
    color: var(--whiteSmoke);
    font-size: 15px;
    letter-spacing: .1em;
}

.linkUser {
    text-decoration: none;
    font-weight: bolder;
    color: var(--yellowGreen);
}

.btnRegister:hover {
    background-color: var(--steelBlue);
    color: var(--whiteSmoke);
    transition: .3s;
}

.linkUser:hover {
    color: var(--steelBlue);
    transition: .3s;
}

/* Cor de fundo do autocomplete */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--eerieBlack) inset;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
    -webkit-text-fill-color: var(--whiteSmoke);
}

/* mensagem de erro - validação input */
.error{
    color: rgba(155, 10, 10, 0.878);
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    margin-top: -1.3em;
    letter-spacing: .1em;
}

.error:hover {
    color:  rgba(155, 10, 10, 0.878);
}