.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    gap: 2em;
}

.viewOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
}

.title {
    display: flex;
    gap: 15em;
}

.title h2 {
    margin-top: 1em;
}

h3 {
    font-size: 23px;
}

.viewOne h3 {
    margin-top: -3em;
}

.subtitle {
    width: 82vw;
    text-align: center;
    font-size: 20px;
    margin-top: -3em;
}

button {
    width: 10em;
    justify-content: space-around;
    margin-right: 3em;
    background-color: rgb(98, 159, 125);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    padding: 1em;
    cursor: pointer;
}

.viewTwo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12em;
}

.cards {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    gap: 5em;
}

.card {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5em;
    width: 17em;
    height: 13em;
    background-color: #bbcbb4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-top: 1em;
}

.card p {
    font-size: 30px;
}

.listTitle {
    margin-bottom: 3em;
}

.listTitle h1 {
    margin-bottom: 1em;
}

.link {
    text-decoration: none;
}

.map {
    margin-top: 5em;
    height: 90vh;
    width: 90vw;
}

.map h1 {
    align-items: left;
}