.containerList {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 86.3vh;
    gap: 2em;
    background-color: var(--eerieBlack);
    color: var(--whiteSmoke);
}

.titleList h1 {
    font-size: 30px;
    font-family: "Poiret One", sans-serif;
    letter-spacing: .1em;
    color: var(--raspbarry);
    margin-left: 3em;
    margin-bottom: .5em;
}

.localsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    height: 65vh;
    margin-left: 5em;
    overflow: auto;
    border: solid 2px var(--raspbarry);
    border-radius: 10px;
}

.localList {
    display: flex;
    flex-direction: column;
    width: 35vw;
    padding: 2em;
    margin-top: 2.5em;
    border: solid 1px var(--raspbarry);
    border-radius: 10px;
}

.localList h2 {
    font-size: 24px;
    font-family: "Poiret One", sans-serif;
    letter-spacing: .1em;
    color: var(--steelBlue);
    margin-bottom: .6em;
    margin-left: .3em;
}

.localList span {
    color: var(--raspbarry);
}

.localList p {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    letter-spacing: .1em;
    color: rgb(194, 194, 198);
    margin-bottom: .3em;
    margin-left: .5em;
}

.buttonsList{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
    margin-top: 1em;
    margin-left: .3em;
}

.btnEdit, .btnDelete{
    background-color: var(--eerieBlack);
    border: solid 1px var(--steelBlue);
   color: var(--steelBlue);
    height: 2.3em;
    width: 7em;
    padding: .4em;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    letter-spacing: .1em;
    cursor: pointer;
}

.imgList {
    margin-left: 5em;
}

.editLocals {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 45vw;
    position: absolute;
    margin-left: 47em;
    background-color: var(--eerieBlack);
}

.editForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    width: 35vw;
    height: 75vh;
    padding: 1.7em;
    border: solid 1px var(--ultraViolet);
    border-radius: 10px;
    margin-top: -2em;
}

.editForm label {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    letter-spacing: .1em;
    color: var(--yellowGreen);
    margin-bottom: -.8em;
}

.editForm input {
    width: 15vw;
    height: 2.5em;
    padding: .5em;
    background-color: var(--eerieBlack);
    color: rgb(194, 194, 198);
    border: solid 1px var(--ultraViolet);
    border-radius: 5px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    letter-spacing: .1em;
    margin-bottom: .5em;
}

.buttonsEditList{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
    margin-top: 1em;
}

.buttonsEditList{
    gap: 1.5em;
    margin-top: -5.2em;
}

.btnSave, .btnCancel {
    border: solid 1px var(--yellowGreen);
    background-color: var(--eerieBlack);
    color: var(--yellowGreen);
    height: 2.3em;
    width: 7em;
    padding: .4em;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    letter-spacing: .1em;
    cursor: pointer;
}

.btnEdit:hover, .btnDelete:hover {
    color: var(--raspbarry);
    transition: .3s;
}

.btnSave:hover, .btnCancel:hover {
    color: var(--ultraViolet);
    transition: .3s;
}