.container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 3.3em;
    background-color: var(--eerieBlack);
    border-bottom: 1px solid var(--yellowGreen);
}

.dashboard,
.listaLCR,
.cadastroLCR,
.exit {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    letter-spacing: .8px;
}

.menu {
    width: 42vw;
    display: flex;
    justify-content: space-evenly;
}

.dashboard {
    color: var(--yellowGreen);
}

.listaLCR {
    color: var(--steelBlue);
}

.cadastroLCR {
    color: var(--ultraViolet);
}

.exit {
    margin-left: 46em;
    color: var(--raspbarry);
}