.container {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 3.3em;
    background-color: rgb(40, 74, 40);
}

.dashboard,
.listaLCR,
.cadastroLCR,
.exit {
    text-decoration: none;
    color: whitesmoke;
    font-size: 15px;
}

.menu {
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
}

.exit {
    margin-left: 50em;
}