.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 2.7em;
    background-color: var(--eerieBlack);
    color: whitesmoke;
    border-top: 1px solid var(--yellowGreen);
}

.p {
    font-family: "poppins", sans-serif;
    font-size: 13.5px;
    color: whitesmoke;
}

i {
    font-size: 1.5em;
    color: whitesmoke;
}

.social {
    margin-top: .2em;
    margin-left: 60em;
}

.github {
    margin-right: 1.2em;
}