@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:wght@300&display=swap');
/* font-family: "Poiret One", sans-serif;  |   font-family: "Poppins", sans-serif; */

/*após utilizar https://coolors.co/  para gerar uma paleta de cores*/
:root {
    --eerieBlack: #151C1F;
    --whiteSmoke: #F2F2F2;
    --yellowGreen: #8AC926;
    --steelBlue: #1982c4;
    --raspbarry: #D81159;
    --ultraViolet: #8131d2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}